<!DOCTYPE html>
<html>
	<head>
        <title>Interest Blog Admin | SaintIC</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="博客,blog,Interest,IT">
        <meta name="description" content="Development of a team blog driven by interests and hobbies.">
        <link rel="canonical" href="https://www.saintic.com/">
		<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" charset="utf-8" />
		<!--[if IE 6]>
			<link rel="stylesheet" href="{{ url_for('static', filename='css/ie6.css') }}" type="text/css" media="screen" charset="utf-8" />
		<![endif]-->
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="header">
			<div class="col w5 bottomlast">
				<a href="{{ url_for('.AdminIndex') }}" class="logo">
					<img src="{{ url_for('static', filename='img/admin/logo.gif') }}" alt="Logo" />
				</a>
			</div>
			<div class="col w5 last right bottomlast">
				<p class="last">Logged in as <span class="strong">Admin,</span> <a href="">Logout</a></p>
			</div>
			<div class="clear"></div>
		</div>
		{% block wrapper %}{% endblock %}
		<div id="footer">
			<p class="last">
			  <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备14058611号</a>&nbsp;&nbsp;
              Copyright &copy; 2016 SaintIC.&nbsp;&nbsp;All rights reserved.&nbsp;&nbsp;
              Originate by <a href="https://github.com/staugur/interest.blog/" target="_blank" title="Interest.blog Source">Interest.blog</a>&nbsp;
              <a href="https://github.com/staugur/passport/" target="_blank" title="passport Source">Passport</a>&nbsp;
              <a href="https://github.com/staugur/Api" target="_blank" title="Api Source">Api</a>.
            </p>
		</div>
		{% block script %}{% endblock %}
	</body>
</html>