{% extends "base/admin.html" %}
{% block head %}
<script type="text/javascript">
$(document).ready(function(){
    $(".Statistics").mouseover(function(){
        $(".js_tip").show("slow");
        $(".Statistics").mouseout(function(){
            $(".js_tip").hide("slow");
        });
    });
})
</script>
{% endblock %}
{% block wrapper %}
		<div id="wrapper">
			<div id="minwidth">
				<div id="holder"><!--wrapper, minwidth and holder divs make the liquid layout, minimal width is 700px-->

					<div id="menu">
						<div id="left"></div>
						<div id="right"></div>
						<ul>
							<li>
								<a href="{{ url_for('.AdminIndex') }}"><span>Dashboard</span></a>
							</li>
							<li>
								<a href="{{ url_for('.AdminUser') }}" class="selected"><span>Users</span></a>
							</li>
							<li>
								<a href="{{ url_for('.AdminBlog') }}"><span>Articles</span></a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>

					<div id="submenu">
						<div class="modules_left">
							<div class="module buttons">
								<div class="Statistics"><small class="icon bar_graph"></small><span>&nbsp;Statistics</span></div>
                                <div class="js_tip"></div>
							</div>
						</div>
						<div class="title">Users</div>
						<div class="modules_right">
							<div class="module search">
								<form action="">
									<p><input type="text" name="user_search" placeholder='Search...' /></p>
								</form>
							</div>
						</div>
					</div>

					<div id="desc">
						<div class="body">
							<div class="col w10 last">
								<div class="content">
								{% for block in data %}
								    <!-- A line user data start -->
									<div class="shelf">
										<div class="left"></div>
										<div class="right"></div>
										<div class="inside">
											<div class="books">
								            {% for user in block %}
 								                <!-- An user data start -->
												<div class="col w2">
													<a href="{{ user.url or user.github or user.weibo or '#' }}">
														<span>
														{% if user.isAdmin in ("true", "True") %}<div><img class="shelf-admin" src="{{ url_for('static', filename='img/icon/manager.png') }}" title="Administrator"></div>{% endif %}
														{{ user.cname or user.username}}({{ user.gender or '保密' }})
														</span>
														<img src="{{ user.avatar }}" class="circular--square home-avatar shelf-img" title="{{ user.motto or 'Oh...' }}" />
													</a>
												</div>
                 							    <!-- An user data end -->
           								    {% endfor %}
											</div>
										</div>
										<div class="clear"></div>
									</div>
								    <!-- A line user data end -->
								{% endfor %}
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<div id="body_footer"><div id="bottom_left"><div id="bottom_right"></div></div></div>
					</div>

				</div>
			</div>
		</div>
{% endblock %}
