{% extends "base.html" %}

{% block title %}Interest Blog About | SaintIC{% endblock %}

{% block content %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">About</h1>
  </header>

  <div class="post-content">
    <p>Hi, 很高兴认识你，这是我的技术博客。</p>
    <p>如果你想在更多的地方认识我，可以选择下面的各种方式：</p>
    <p><strong>GitHub:</strong> <a href="https://github.com/saintic">SaintIC</a></p>
    <p><strong>知乎:</strong>  <a href="#">SaintIC</a></p>
    <p><strong>Weibo:</strong> <a href="http://weibo.com/staugur">SaintIC</a></p>
    <p><strong>segmentfault:</strong> <a href="#">SaintIC</a></p>
    <p><strong>OSChina:</strong> <a href="https://my.oschina.net/staugur/home">SaintIC</a></p>
    <p><strong>Linkedin:</strong> <a href="#">SaintIC</a></p>
    <p>对了，如果你想“金钱”联络一下感情，可以扫描下面的二维码试试：</p>
    <p><img src="{{ url_for('static', filename='img/alipay.png') }}" alt="alipay" /></p>
  </div>

</article>

{% endblock %}