{% extends "base.html" %}

{% block title %}Interest Blog Detail | SaintIC{% endblock %}

{% block head %}
  {% if EnableCodeHighlighting %}
    <link href="{{ url_for('static', filename='highlight/styles/googlecode.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='highlight/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  {% endif %}
{% endblock %}

{% block content %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ data['title'] }}</h1>
    <p class="post-meta"><time datetime="2016-01-01T10:26:42+00:00" itemprop="datePublished">{{ data['create_time'] }}</time></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ data['content'] | safe }}
  </div>

  <div class="copyright">
    <p>文章版权所有，转载请注明出处！</p>
  </div>
</article>
<div class="Share">
  {% if EnableWeiboShare %}
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <wb:share-button appkey="1746902937" addition="number" type="button"></wb:share-button>
  {% endif %}
</div>

{% endblock %}
