{% extends "base.html" %}

{% block title %}Interest Blog Home | SaintIC{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ g.username }} Home</h1>
  </header>

  <div class="post-content">
    <p>
        <img src="{{ data.get('avatar') or url_for('static', filename='img/avatar/default.jpg') }}" class="circular--square home-avatar" title="{{ data.get('cname') or 'Oh' }}">
    </p>
    {% if data.get('cname') %}
        <p><attr title="{% if data.get('gender') == '男' %}A handsome boy{% elif data.get('gender') == '女' %}A pretty girl{% else %}{% endif %} Joined on {{ data.get('time') }}">{{ data.get('cname') }}</attr></p>
    {% endif %}
    {% if data.get('motto') %}
        <p>{{ data.get('motto') }}</p>
    {% endif %}
    {% if data.get('url') %}
        <a href="{{ data.get('url') }}" target="_blank">My</a>
    {% endif %}
    {% if data.get('email') %}
        <a href="mailto:{{ data.get('email') }}">Email</a>
    {% endif %}
    {% if data.get('weibo') %}
        <a href="{% if 'http' in data.get('weibo') %}{{ data.get('weibo') }}{% else %}{{ 'http://' + data.get('weibo') }}{% endif %}" target="_blank">Weibo</a>
    {% endif %}
    {% if data.get('github') %}
        <a href="{% if 'http' in data.get('github') %}{{ data.get('github') }}{% else %}{{ 'http://' + data.get('github') }}{% endif %}" target="_blank">GitHub</a>
    {% endif %}
  </div>
</article>

{% endblock %}