{% extends "base.html" %}

{% block title %}Interest Blog Index | SaintIC{% endblock %}

{% block content %}

  <div class="home">
    <h1 class="page-heading">Posts</h1>
    <ul class="post-list">

      <li>
        <span class="post-meta">Jan 1, 2016</span>
        <h2>
          <a class="post-link" href="/blog">JavaScript之对象创建</a>
        </h2>
      </li>
    
      <li>
        <span class="post-meta">Dec 28, 2015</span>
        <h2>
          <a class="post-link" href="/javascript/2015/12/28/javascript-protytype.html">JavaScript 之原型周边</a>
        </h2>
      </li>
    
    </ul>
  </div>

{% endblock %}