<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="博客,blog,Interest,IT">
  <meta name="description" content="Development of a team blog driven by interests and hobbies.">
  <link rel="canonical" href="https://www.saintic.com/">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
  {% block head %}{% endblock %}
</head>

<body>
  {% include "public/nav.html" %}

  <div class="page-content">
    <div class="wrapper">
      {% block content %}{% endblock %}
    </div>
  </div>

  {% include "public/footer.html" %}
  {% block script %}{% endblock %}
</body>
</html>
