<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="canonical" href="https://www.saintic.com/">
  {% block head %}{% endblock %}
</head>

<body>
  {% include "public/nav.html" %}

  <div class="page-content">
    <div class="wrapper">
      {% block content %}{% endblock %}
    </div>
  </div>

  {% include "public/footer.html" %}
  {% block script %}{% endblock %}
</body>
</html>
