<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">SaintIC Interest.blog</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=JFdQRVFDUVZkUk1UClVVCkdLSQ"><span>反馈留言</span></a></li>
          <li><a href="mailto:developers@saintic.com" title="给开发组提Issues">developers@saintic.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a target="_blank" href="{{ url_for('front.sitemap') }}">站点地图</a></li>
          <li><a target="_blank" href="http://open.saintic.com">Open Service Platform</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
        <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=staugur&repo=interest.blog&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </li>
        <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=staugur&repo=interest.blog&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </li>
        <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=staugur&repo=interest.blog&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </li>
        <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=staugur&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </li>
        </ul>
      </div>

      <div class="footer-col footer-col-4">
        <p>
          <i>
              <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备14058611号</a>&nbsp;&nbsp;
              Copyright &copy; 2016 SaintIC.&nbsp;&nbsp;All rights reserved.&nbsp;&nbsp;
              Originate by <a href="https://github.com/staugur/interest.blog/" target="_blank" title="Interest.blog Source">Interest.blog</a>&nbsp;
              <a href="https://github.com/staugur/passport/" target="_blank" title="passport Source">Passport</a>&nbsp;
              <a href="https://github.com/staugur/Api" target="_blank" title="Api Source">Api</a>.
          </i>
        </p>
      </div>

    </div>
  </div>
</footer>
